// Main colors
$primary: #1b9f85;
$background-dark: #16171b;
$background-light: #202125;

// KeenUI overrides
$brand-primary-color: $primary;
$divider-color: #747579;
$primary-text-color: white;
$secondary-text-color: #747579;

$ui-input-label-color--hover: $secondary-text-color;
$ui-input-border-color--hover: $secondary-text-color;
