// Main colors
$primary: #1b9f85;
$secondary: #747579;
$background-dark: #16171b;
$background-light: #202125;

// KeenUI overrides
$font-stack: Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$brand-primary-color: $primary;
$divider-color: $secondary;
$primary-text-color: white;
$secondary-text-color: $secondary;

$ui-input-label-color--hover: $secondary-text-color;
$ui-input-border-color--hover: $secondary-text-color;
